* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

header {
    background-color: #fff;
    color: hsl(0, 33%, 1%);
    padding: 30px 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
}

.logo {
    font-size: 35px;

}

.logo img {
    width: 100px;
    height: 100px;
    margin-left: 100px;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

nav ul li a {
    color: #1a1919;
    text-decoration: none;
}

button {
    padding: 15px;
    border-radius: 20px;
    color: orangered;


}

@media (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    nav {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:before {
        content: "\2630";
        font-size: 24px;
    }

    .menu-toggle.active:before {
        content: "\2715";
    }

    .menu-toggle.active+nav {
        display: block;
    }
}
.blog-main{
    
    background: linear-gradient(#b59f28, #06cbbe);
    /* background-image: url("./img/14.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.blog-main h1 {
   
   color:white;
    align-items: center;
    justify-content: center;
    padding: 200px;
    font-weight: 700;
    font-size: 40px;
    

}
.blog-main p{
    color:white;
    
    align-items: center;
    justify-content: center;
    padding: 200px;
    font-weight: 400;
    font-size: 20px; 
}
@media (max-width: 768px){
    .blog-main{
        width: 100%;
    }
}
.all-blog{
    display: flex;
    justify-content: space-evenly;
   
    /* min-height: 800px; */
    width: 100%;

}
.box1{
    height: 450px;
   
    width: 400px;
    

}
.blog-heading{
    padding:20px;
    margin-left: 50px;
    color:orangered;
   
}
.blog-img img{
    height: 300px;
    width: 400px;
    border-radius: 25px;
}
.blog-content{
    margin: 10px;
    padding: 5px;
}
.blog-content p{
    color:#747777;
    padding-bottom: 15px;


}
.blog-content h2{
    font-size: 20px;
    font-weight: 400px;
    color:#424343
}
.blog-content h2:hover{
  color:rgb(240, 69, 7);
}
.blog-content a{
   
    text-decoration: none;
    padding-top: 20px;
}
.blog-content a:hover{
    color:rgb(240, 69, 7);

}

footer {
    min-height: 400px;
    width: 100%;
    background-color: rgb(37, 30, 56);
}

.footer-main {
    display: flex;
    justify-content: space-evenly;

    padding: 40px 20px;
}

.box1 {
    color: white;


}

.add {
    display: flex;
    align-items: center;
    justify-content: start;
}

img {
    width: 60px;
    height: 30px;
}

.add h3 {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 700;
}

.add-first {
    padding-top: 20px;
    color: rgb(124, 122, 122);
    line-height: 25px;

}

.add-second {
    margin-top: 20px;
}


/* second-box */
.box2 {
    color: white;
}

hr {
    width: 200px;
    color: rgb(124, 122, 122);
    line-height: 1px;

}

ul li {
    list-style: none;
    margin: 10px;


}

.second-footer{
    width: 100%;
    min-height: 60px;
    background-color: rgb(21, 16, 35);
    display: flex;
    justify-content: space-between;

}
.second-footer-item{
    color:white;
    padding: 20px;
    text-align: center;
}

